h1{
    font-size: 50px;
    text-align: center;
}
.intro-images {
    position: relative;
    display: flex;
    justify-content: flex-end;

}

.typewriter h1{
    color: black;
    overflow: hidden;
    border-right: .15em solid aliceblue;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(30, end), 
        blink-caret .5s step-end
        infinite;
}
@keyframes typing{
    from {width:0}
    to {width: 100%}
}
@keyframes blink-caret{
    from,to{border-color: transparent}
    50% {border-color: aliceblue}
}

#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height:100%;
    z-index: -1;

}
.heading{
    position: fixed;
    top: 0;
    color: #f1f1f1;
    width: 100%;
    display:inline;
    padding:20px;
    z-index: 1;
}
.button{
    display: flex;
    justify-content: flex-end;
    right:20px;
    background-color: transparent;
    cursor: pointer;
    margin: 20px;
}

#myBtn:hover{
    transform: rotate(180);
}
#myBtn{
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;


}
